* {
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-areas: 
    "header header header header "
    "ads info info ads2"
    "ads nav article ads2"
    " footer footer footer footer ";
    grid-template-rows: 70px 50px 1fr 80px;
    grid-template-columns: 20% 15% 1fr 20%;
    grid-gap: 5px;
    margin: 0;
    height: 100vh;
} 

#ads {
    grid-area: ads;
}


/* ----------------- Start Info ----------------- */

#pageInfo {
    grid-area: info;
    text-align: center;
    display: flex;
    justify-content: space-around;
    float: left;
}

.info-content span:first-child {
    color: rgb(172, 31, 31);
}

.info-content span:last-child {
    color: gray;
}

/* ----------------- End Info ----------------- */



/* ----------------- Start Header ----------------- */

#pageHeader {
    grid-area: header;
    border-bottom: 1px solid lightgray;
    color: #000000; 
    line-height: 70px;  
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#pageHeader span {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

#pageHeader img {
    width: 35px;
}

 #logo{
    cursor: pointer;
}

#home{
    cursor: pointer;
}

.header__burger {
    display: none;
}

.header__menu {
    display: flex;
    align-items: center;
    width: 900px;
    justify-content: space-between;
}



/* ------------------ */


/* //------------------ */



.mainSHOP {
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.shopList{
    border-radius: 10px;
    margin-left: -60px;
    position: absolute;
    display: none;
    background: white;
    min-width: 170px;
}
.shopList a {
    line-height: 40px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
}

.shopList a:hover {
    border-radius: 10px;
    background: rgba(148, 23, 23, 0.377);
}

.dropdown:hover .shopList {
    display: block;
    z-index: 1;
}

.contact {
    border: none;
    cursor: pointer;
}
.dropdownCont {
    position: relative;
    display: inline-block;
}
.contList{
    border-radius: 10px;
    border: 1px solid #000000;
    margin-left: -40px;
    position: absolute;
    display: none;
    background: white;
    min-width: 180px;
}
.contList a {
    line-height: 30px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdownCont:hover .contList {
    display: block;
    z-index: 1;
}

#cart {
    border: none;
    cursor: pointer;
}
#enscart_my_wrapper {
    text-align: center;
    top: 8px;
    right: 20px;
    z-index: 1140;
}
  #enscart_myimage_wrapper {
    background: #ffffff;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    z-index: 1140;
}
  #enscart_my_wrapper img {
    height: 80%;
    width: auto;
    padding-top: 8px;
}
  #enscart_my_counter_wrapper {
    cursor: pointer;
    min-width: 30px;
    height: 30px;
    background-color: #d62240;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: -5px;
    top: -5px;
    text-align: center;
    line-height: 30px;
    font-family: Arial,sans-serif;
    margin: 0px 3px;
    z-index: 1150;
}
#easynetshop-cart {
    border: none;
    background-color: transparent;
}

.dropdownCart {
    position: relative;
    display: inline-block;
}

.cartList {
    top: 60px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-left: -200px;
    position: absolute;
    display: none;
    background: white;
    min-width: 330px;
    height: 200px;
    overflow: scroll;
}

.dropdownCart:hover .cartList {
    display: block;
    z-index: 1;
}

.item img {
    width: 60px !important;
    height: 50px !important;
}
.item span {
    font-size: 1em !important;
}
.item {
    justify-content: space-between;
    padding: 3px;
    display: flex;
    align-items: center;
    border: 1px solid #0a0a0a;
    border-radius: 10px;
}

.cartOptions button {
    background: rgb(155, 45, 45);
    color: #ffffff;
    width: 80px;
    outline: none;
}

.cartOptions {
    justify-content: space-between;
    display: flex;
    border: 1px solid #000000;
    width: 100%;
    line-height: 30px;
}

/* ----------------- End Header ----------------- */



/* ----------------- Start Main ----------------- */

#mainArticle {
    grid-area: article;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cont img {
    width: 300px;
    border-radius: 30px;
}

.cont {
    text-align: center;
    margin: 10px;
    width: 300px;
    height: 340px;
}

.contMain {
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.contMain img {
    width: 100%;
}

.contIMG {
    margin: 20px;
    width: 500px;
    height: 500px;
    float: left;
    display: block; 
    position: relative; 
}

.contIMG span {
    color: #ffffff;
    min-width: 250px;
    left: 125px;
    min-height: 40px;
    top: 200px;
    font-size: 2em;
    text-align: center;
    position: absolute;
    opacity: 0;
}

.contIMG:hover span {
    opacity: 1;
    transition: .5s;
}

.contIMG::after,
.contIMG::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    color: #ffffff;
}


.contIMG::after{
    content:'';
    transform: scaleX(0);
}
.contIMG::before{
    content:'';
    transform: scaleY(0);
}

.contIMG:hover:after{
    transition: .5s;
    transform: scaleX(1);
}

.contIMG:hover:before{
    transition: .5s;
    transform: scaleY(1);
}


#btnShow {
    line-height: 40px;
    width: 150px;
    background: #7e2525;
    color: #ffffff;
    outline: none;
}

#contenerBtnShow {
    width: 100%;
    text-align: center;
}

/* ----------------- End Main ----------------- */



/* ----------------- Start NavBar ----------------- */

#mainNav {
    display: flex;
    flex-direction: column;
    grid-area: nav; 
}

.contentNav {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 18px;
}

.price {
    margin-top: 5px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    float: left; 
    width: 100%;
    height: 200px;
    border: 2px solid rgb(175, 53, 37);
}

#searchBtn {
    width: 100%;
}

#price {
    margin-top: 30px;
}

#search {
    border: 2px solid rgb(175, 53, 37);
    line-height: 20px;
    outline: none;
    width: 100%;
}

.inputPrice {
    border: 2px solid rgb(175, 53, 37);
    line-height: 30px;
    width: 70%;
    outline: none;
}

#applyBtn {
    width: 100%;
    outline: none;
    border: 2px solid rgb(175, 53, 37);
}

input[type=range] {
    height: 39px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #1a0e0e;
    border:  rgb(175, 53, 37);
    border-radius: 0px;
    border: 2px solid  rgb(175, 53, 37);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 2px #A6A6A6;
    border: rgb(175, 53, 37);
    height: 20px;
    width: 20px;
    border-radius: 0px;
    border: 2px solid rgb(175, 53, 37);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
}

  input[type=range]:focus::-webkit-slider-runnable-track {
    background:  rgb(175, 53, 37);
}

#category {
    margin-top: 30px;
    font-size: 18px;
}
  
#categoryList {
    font-size: 16px;
    border: 2px solid rgb(175, 53, 37);
    line-height: 20px;
    outline: none;
    width: 110%;
    height: 40px;
}

.mainSHOP {
    border: none;
    cursor: pointer;
}

.mainBreadcrumbs {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.listBreadcrumbs {
    border-radius: 10px;
    margin-left: -60px;
    position: absolute;
    display: none;
    background: white;
    min-width: 170px;
}

.listBreadcrumbs a {
    line-height: 40px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
}

.listBreadcrumbs a:hover {
    border-radius: 3px;
    box-shadow: 3px 3px 3px #1a0e0e;
}

.dropdownBreadcrumbs:hover .listBreadcrumbs {
    display: block;
    z-index: 1;
}



/* ----------------- End NavBar ----------------- */



/* ----------------- Start Footer ----------------- */

#pageFooter {
    background: #4d0b16;
    grid-area: footer;
    color: #ffffff;
    display: flex;
    float: left ;
    align-items: center;
    justify-content: center;
}



/* ----------------- End Footer ----------------- */

@media (max-width: 815px) {
    #pageInfo {
        display: none;
    }
 
    #pageHeader {
     grid-area: header;
     border-bottom: 1px solid rgb(165, 161, 161);
     color: #000000; 
     line-height: 70px;  
     display: flex;
     align-items: center;
     justify-content: space-around;
    }
 
    .header__menu {
         display: none;
    }

    body{
        display: grid;
        grid-template-areas: 
        "header header header "
        "ads info ads2"
        "ads article ads2"
        "footer footer footer ";
        grid-template-rows: 70px 0px 1fr 70px;
        grid-template-columns: 30% 1fr 30%;
        grid-gap: 5px;
        margin: 0;
        height: 100vh;
    } 

    #mainArticle {
        height: 100%;
    }

    .contMain {
        display: flex;
        flex-wrap: wrap;
        float: left;
    }

    .contIMG {
        padding: 0px;
        width: 320px;
        height: 320px;
        float: left;
        display: block; 
        position: relative; 
        z-index: 2;
    }

    .contIMG span {
    color: #ffffff;
    min-width: 125px;
    left: 80px;
    min-height: 20px;
    top: 135px;
    font-size: 2em;
    text-align: center;
    position: absolute;
    opacity: 0;
}

.contIMG:hover span {
    opacity: 1;
    transition: .5s;
}

.contIMG::after,
.contIMG::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    color: #ffffff;
}


.contIMG::after{
    content:'';
    transform: scaleX(0);
}
.contIMG::before{
    content:'';
    transform: scaleY(0);
}

.contIMG:hover:after{
    transition: .5s;
    transform: scaleX(1);
}

.contIMG:hover:before{
    transition: .5s;
    transform: scaleY(1);
}


    #contSport {
        padding-bottom: 40px;
    }

    .header__burger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background: #000000;
        position: absolute;
        width: 100%;
        height: 3px;  
        transition: all 0.3s ease 0s;  
    }

    .header__burger::before {
        top: 0;
    }
    .header__burger span {
        position: absolute;
        background: #000000;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }


    #mainNav {
        align-items: center;
        width: 200px;
        height: 470px;
        border-radius: 20px;
        display: none;
        position: absolute;
        top: 70px;
        backdrop-filter: blur(8px);
        background: rgba(124, 115, 115, 0.4);
        z-index: 50;
    }

    .dropdownCart {
        position: relative;
        display: inline-block;
    }
    
    .cartList {
        top: 60px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #000000;
        margin-left: -215px;
        position: absolute;
        display: none;
        background: white;
        min-width: 330px;
        height: 200px;
        overflow: scroll;
        z-index: 51;
    }
    
    .dropdownCart:hover .cartList {
        display: block;
        z-index: 51;
    }
}